.footer-distributed{
	background: var(--dark-color);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
border-top: 1px solid var(--primary-color);;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color: var(--light-color);
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: var(--primary-color);
}


.footer-distributed .footer-links{
	color: var(--light-color);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a:hover{
  color: var(--primary-color);
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  var(--dark-color);
	color: var(--light-color);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin: 10px 15px;
  display: grid;
  place-items: center;
  transition: .2s all ease-out;
}
.icon-row{
  display: flex;
  align-items: center;
}


.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: var(--light-color);
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: var(--dark-color);
	border-radius: 2px;
	font-size: 20px;
	color: var(--light-color);
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	margin-bottom: 5px;
  transition: .2s all ease-out;
}
.footer-distributed .footer-icons a:hover ,
.footer-distributed .footer-center i:hover{
transform: scale(1.2);
transition: .25s all ease-in;
color: var(--primary-color);
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
.icon-row{
  flex-direction: column;
}
.icon-row p,.icon-row p a{
  color:  #92999f !important;
}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}